<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Donatius Jardins del Baix Guinardó</title>
     <link rel="icon" href="/static/images/logo_parc.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        
    </style>
</head>
<body>
   <a href="salvemelparc.com" target="_blank"> <div class="total-label3" ><img src="/static/images/logo_parc.png" width="100"><img></div></a>
    <h1>Ajuda'ns a salvar els jardins del Baix Guinardó! </h1>
    <div class="total-label">Total recaptat: {{ total }} € de 2500 €</div>
    <div class="total-label2">Ens falten només: {{ 2500 - total }} € !!</div>

    <div class="termometre-wrapper">
        <div style="position: relative;">
            <div class="termometre-container">
                <div class="termometre" style="height: {{ (total / 2500) * 100 }}%;">
                        <span style="white-space: nowrap; position: absolute; top: 20px; left: 50%; transform: translateX(-50%); font-size: 0.9em;">
                            {{ total }} € 
                        </span>
                </div>
            </div>
            <div class="termometre-base"></div>
        </div>
    </div>
    <br>
    <h2 style="text-align:center">Donants</h2>
    <ul>
        {% for d in donacions %}
            <li>{{ d.data.split(' ')[0] }} - {{ d.nom }} - {{ d.quantitat }} €</li>
        {% endfor %}
    </ul>
    
</body>
</html>
